.carta {
  cursor: default;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 1px 1px 20px rgb(14, 13, 13);
}
.carta:hover {
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
  transform: translate(10px, -3%);
  transition: all 0.5s;
}
.carta img {
  width: 100%;
  height: 210px;
}
.carta .contenido {
  padding: 15px;
  text-align: center;
}
.carta .contenido p {
  font-size: x-large;
  line-height: 1.5;
  color: black;
}
.carta .contenido h3 {
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 10px;
}
.carta .contenido h6 {
  color: red;
}
.carta .contenido .cant {
  margin-bottom: 10px;
  text-align: center;
}

.row {
  --bs-gutter-x: 0;
}

.pr {
  display: grid;
  grid-template-areas: "lista productos productos productos" "lista productos productos productos" "lista productos productos productos" "lista productos productos productos" "lista productos productos productos" "lista productos productos productos";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;
}
.pr .lista {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.pr .lista .checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.pr .lista .form-check-input {
  margin-right: 10px;
}
.pr .productos {
  grid-area: productos;
  background: linear-gradient(70deg, whitesmoke, pink);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 5px 50px whitesmoke;
  border-radius: 5px;
  height: 100%;
}
.pr .productos .Centrado {
  display: flex;
  justify-content: center;
}
.pr .productos .Articulos {
  width: 100%;
  max-width: 250px;
  display: flex;
}
@media (max-width: 768px) {
  .pr .lista {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .pr .lista .checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .pr .lista .form-check-input {
    margin-right: 10px;
  }
  .pr .productos {
    grid-area: productos;
    background: linear-gradient(70deg, whitesmoke, pink);
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 50px whitesmoke;
    border-radius: 5px;
    height: 100%;
  }
  .pr .productos .Centrado {
    display: flex;
    justify-content: center;
  }
  .pr .productos .Articulos {
    width: 100%;
    max-width: 250px;
    display: flex;
  }
}

.nombre {
  color: black;
  font-size: x-large;
}

body {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;
  background-image: url(../Imagenes/Roma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-size-adjust: 100%;
}
body header {
  grid-area: header;
  background: linear-gradient(70deg, pink, antiquewhite);
}
body header .logxd {
  text-decoration: none;
}
body header .home {
  text-align: end;
  text-decoration: none;
  color: #343a40;
}
body header .home:hover {
  transform: translate(-10px, -20%);
  transition: all 0.5s;
}
body nav {
  grid-area: nav;
  background: linear-gradient(70deg, rgb(255, 99, 125), rgb(255, 231, 199));
}
body nav h1 {
  display: none;
}
body nav .botonSalir {
  display: flex;
  text-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  body nav h1 {
    display: block;
    color: black !important;
  }
  body nav .navbar-collapse {
    background: linear-gradient(70deg, rgb(255, 99, 125), rgb(255, 231, 199));
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #343a40;
    z-index: 50;
  }
  body nav .navbar-collapse.show {
    transform: translateX(0);
  }
  body nav .navbar-collapse h1 {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 10px;
  }
  body nav .video-container {
    position: relative;
  }
  body nav .video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  body nav .navbar-collapse form {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  body nav .navbar-collapse form input[type=text] {
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
  }
  body nav .navbar-nav .nav-item {
    padding: 10px;
  }
}
body nav .navbar-brand {
  color: black;
}
body nav .nav-link {
  color: black;
}
body nav .dropdown-menu {
  background: linear-gradient(70deg, rgb(255, 99, 125), rgb(255, 231, 199));
}
body main {
  grid-area: main;
}
body main .happy {
  text-align: center;
}
body main .happy .gif {
  animation-duration: 3s;
}
body main .novedades {
  text-align: center;
}
body main .panel {
  margin: 10px;
  padding: 10px;
}
body main .panel2 {
  border: groove 4px rgb(218, 151, 151);
  background: linear-gradient(70deg, whitesmoke, pink);
  box-shadow: 5px 5px 10px pink;
}
body main .loguear {
  border: groove black 1px;
}
body main .xd {
  max-width: 700px;
  max-height: 500px;
  height: 100%;
  width: 100%;
}
body main .texto {
  font-size: 25px;
  background: linear-gradient(70deg, pink, antiquewhite);
  border: groove black 3px;
  box-shadow: 5px 8px 10px blanchedalmond;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .formulario {
  border: solid rgb(22, 21, 21) 2px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
}
body main .nov {
  display: flex;
  text-align: center;
}
body main .nov .Presentacion {
  border: groove black 1px;
  background: linear-gradient(70deg, pink, antiquewhite);
}
body main .nov .Presentacion a {
  text-decoration: none;
  color: black;
}
body main .nov .Presentacion:hover {
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
  transform: scale(1.1, 1.1);
  transition: all 1s;
}
body main .nov .Presentacion .nov_img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  body main .compra2 {
    display: none;
  }
}
@media (max-width: 768px) {
  body main .compra {
    display: none;
  }
}
body footer {
  grid-area: footer;
  border: solid black 2px;
  background: linear-gradient(70deg, pink, antiquewhite);
  text-align: center;
  align-items: center;
}
body footer .face {
  width: 35px;
  height: 35px;
}
body footer .insta {
  width: 35px;
  height: 35px;
}
body footer .mapa {
  width: 100%;
  height: 100%;
}
body footer .wsp {
  width: 50px;
  height: 50px;
}
body footer .px {
  font-size: x-large;
}

/*# sourceMappingURL=main.css.map */
