.carta {
  cursor: default;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: aliceblue;
  box-shadow: 1px 1px 20px rgb(14, 13, 13);
}
.carta:hover {
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
  transform: translate(10px, -3%);
  transition: all 0.5s;
}
.carta img {
  width: 100%;
  height: 210px;
}
.carta .contenido {
  padding: 15px;
  text-align: center;
}
.carta .contenido p {
  font-size: x-large;
  line-height: 1.5;
  color: black;
}
.carta .contenido h3 {
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 15px;
}

.titulinho, .pr .pr_titulo3, .pr .pr_titulo2, .pr .pr_titulo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.titulinho #produ, .pr .pr_titulo3 #produ, .pr .pr_titulo2 #produ, .pr .pr_titulo #produ {
  color: black;
}

.row {
  --bs-gutter-x: 0;
}

.pr {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "medias medias medias" "titulo2 titulo2 titulo2" "boxer boxer boxer" "titulo3 titulo3 titulo3" "conjuntos conjuntos conjuntos";
  grid-template-rows: 50px auto 50px auto 50px auto;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;
}
.pr .pr_medias {
  grid-area: medias;
  background: linear-gradient(70deg, whitesmoke, pink);
  box-shadow: 5px 5px 50px whitesmoke;
  border-radius: 5px;
  height: 100%;
}
.pr .pr_medias .Centrado {
  display: flex;
  justify-content: center;
}
.pr .pr_medias .Articulos {
  width: 100%;
  max-width: 250px;
  display: flex;
}
.pr .pr_boxer {
  grid-area: boxer;
  background: linear-gradient(70deg, whitesmoke, pink);
  box-shadow: 5px 5px 50px whitesmoke;
  border-radius: 5px;
  height: 100%;
}
.pr .pr_boxer .Centrado {
  display: flex;
  justify-content: center;
}
.pr .pr_boxer .Articulos {
  width: 100%;
  max-width: 250px;
  display: flex;
}
.pr .pr_conjuntos {
  grid-area: conjuntos;
  background: linear-gradient(70deg, whitesmoke, pink);
  box-shadow: 5px 5px 50px whitesmoke;
  border-radius: 5px;
  height: 100%;
}
.pr .pr_conjuntos .Centrado {
  display: flex;
  justify-content: center;
}
.pr .pr_conjuntos .Articulos {
  width: 100%;
  max-width: 250px;
  display: flex;
}
.pr .boxer_Mobile {
  background: linear-gradient(70deg, whitesmoke, pink);
  grid-area: boxer;
}
.pr .conjunto_Mobile {
  background: linear-gradient(70deg, whitesmoke, pink);
  grid-area: conjuntos;
}
.pr .medias_Mobile {
  background: linear-gradient(70deg, whitesmoke, pink);
  grid-area: medias;
}
@media (min-width: 768px) {
  .pr .boxer_Mobile {
    display: none;
  }
  .pr .conjunto_Mobile {
    display: none;
  }
  .pr .medias_Mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .pr .pr_boxer {
    display: none;
  }
  .pr .pr_conjuntos {
    display: none;
  }
  .pr .pr_medias {
    display: none;
  }
  .pr .boxer_Mobile .Articulos {
    display: flex;
    justify-content: center;
  }
  .pr .boxer_Mobile .carta {
    width: 55%;
  }
  .pr .conjunto_Mobile .Articulos {
    display: flex;
    justify-content: center;
  }
  .pr .conjunto_Mobile .carta {
    width: 55%;
  }
  .pr .medias_Mobile .Articulos {
    display: flex;
    justify-content: center;
  }
  .pr .medias_Mobile .carta {
    width: 55%;
  }
}
.pr .pr_titulo {
  grid-area: titulo;
}
.pr .pr_titulo2 {
  grid-area: titulo2;
}
.pr .pr_titulo3 {
  grid-area: titulo3;
}

.nombre {
  color: black;
  font-size: x-large;
}

body {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;
  background-image: url(../Imagenes/Roma.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body header {
  grid-area: header;
}
body nav {
  grid-area: nav;
}
body main {
  grid-area: main;
}
body main .novedades {
  text-align: center;
  font-size: xx-large;
}
body main .xd {
  max-width: 700px;
  max-height: 500px;
  height: 100%;
  width: 100%;
}
body main .texto {
  font-size: 25px;
  background: linear-gradient(70deg, pink, antiquewhite);
  border: groove black 3px;
  box-shadow: 5px 8px 10px blanchedalmond;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .formulario {
  border: solid rgb(22, 21, 21) 2px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
}
body main .nov {
  display: flex;
  text-align: center;
}
body main .nov .Presentacion {
  border: groove black 1px;
  background: linear-gradient(70deg, pink, antiquewhite);
}
body main .nov .Presentacion a {
  text-decoration: none;
  color: black;
}
body main .nov .Presentacion:hover {
  box-shadow: 5px 5px 50px rgb(14, 13, 13);
  transform: scale(1.1, 1.1);
  transition: all 1s;
}
body main .nov .Presentacion .nov_img {
  width: 100%;
  height: 100%;
}
body footer {
  grid-area: footer;
  border: solid black 2px;
  background: linear-gradient(70deg, rgb(53, 39, 182), rgb(124, 137, 255));
  text-align: center;
  align-items: center;
}
body footer .face {
  width: 35px;
  height: 35px;
}
body footer .insta {
  width: 35px;
  height: 35px;
}
body footer .mapa {
  width: 100%;
  height: 100%;
}
body footer .wsp {
  width: 50px;
  height: 50px;
}
body footer .px {
  font-size: x-large;
}

/*# sourceMappingURL=main.css.map */
