$Gradiente_Pagina:linear-gradient(70deg, whitesmoke, pink);
$Gradiente_main:linear-gradient(70deg, pink,antiquewhite);
$gradiente_Footer:linear-gradient(70deg, rgb(53, 39, 182), rgb(124, 137, 255));
$TimeNewRoman:'Times New Roman', Times, serif;
