$vista:mobile;
$h1Desktop: 3rem;
$h1Mobile: 1.2rem;

  .pr{ 
    display: grid;
    grid-template-areas:
    "titulo titulo titulo" 
    "medias medias medias"
    "titulo2 titulo2 titulo2"
    "boxer boxer boxer"
    "titulo3 titulo3 titulo3"
    "conjuntos conjuntos conjuntos"
    ;
     grid-template-rows:50px auto 50px auto 50px auto; 
     grid-template-columns: auto auto auto;
     row-gap: 10px;
     column-gap: 10px;
     height: 100%;
     margin: 0;
                      .pr_medias{
                                 grid-area: medias;
                                 background: linear-gradient(70deg, whitesmoke, pink);
                                 box-shadow: 5px 5px 50px whitesmoke;
                                 border-radius: 5px;
                                 height: 100%;
                                         .Articulos{
                                                     width: 100%;
                                                     max-width: 250px;
                                                     display: flex;
                                
                                                   .carta{
                                                          cursor: default;
                                                          width: 100%;
                                                          margin: 20px;
                                                          border-radius: 6px;
                                                          overflow: hidden;
                                                          background-color: aliceblue;
                                                          box-shadow: 1px 1px 20px rgb(14, 13, 13);
                                                          }
                                                  .carta:hover{
                                                          box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                          transform: translate(10px, -3%);
                                                          transition: all 0.5s;
                                                         }
                                                  .carta img{
                                                         width: 100%;
                                                         height: 210px;
                                                        }
                                                  .carta .contenido{
                                                         padding: 15px;
                                                         text-align: center;
                                                        } 
                                                  .carta .contenido p{
                                                    font-size: x-large;
                                                        line-height: 1.5;
                                                         color: black;
                                                        }
                                                  .carta .contenido h3{
                                                        font-weight: 400;
                                                        margin-bottom: 15px;
                                                        font-size: x-large;
                                                       }
                                                 
                                                    }
      
                                }
                      .pr_boxer{
                                  grid-area: boxer;
                                  background: linear-gradient(90deg, whitesmoke, pink);
                                  box-shadow: 5px 5px 50px whitesmoke;
                                    border-radius: 5px;
                                    height: 100%;
                                                 
                                                 .Articulos{
                                                     width: 100%;
                                                     max-width: 250px;
                                                     display: flex;
                                                    .carta{
                                                          cursor: default;
                                                          width: 100%;
                                                          margin: 20px;
                                                          border-radius: 6px;
                                                          overflow: hidden;
                                                          background-color: aliceblue;
                                                          box-shadow: 1px 1px 20px rgb(14, 13, 13);
                                                          }
                                                  .carta:hover{
                                                          box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                          transform: translate(10px, -3%);
                                                          transition: all 0.5s;
                                                         }
                                                  .carta img{
                                                         width: 100%;
                                                         height: 210px;
                                                        }
                                                  .carta .contenido{
                                                         padding: 15px;
                                                         text-align: center;
                                                        } 
                                                  .carta .contenido p{
                                                        line-height: 1.5;
                                                         color: black;
                                                         font-size: x-large;
                                                        }
                                                  .carta .contenido h3{
                                                        font-weight: 400;
                                                        margin-bottom: 15px;
                                                        font-size: x-large;
                                                       }
                                                  .lol{
                                                        text-align: center;
                                                      }
                                                    }
                                } 
                  .pr_conjuntos{
                                  grid-area: conjuntos;
                                  background: linear-gradient(70deg, whitesmoke, pink);
                                  box-shadow: 5px 5px 50px whitesmoke;
                                    border-radius: 5px;
                                    height: 100%;
                                                .Articulos{
                                                           width: 100%;
                                                           max-width: 250px;
                                                           display: flex;
                 
                                                         .carta{
                                                                 cursor:default;
                                                                 width: 100%;
                                                                 margin: 20px;
                                                                 border-radius: 6px;
                                                                 overflow: hidden;
                                                                 background-color: aliceblue;
                                                                 box-shadow: 1px 1px 20px rgb(14, 13, 13);
                                                                 
                                                                &:hover{
                                                                 box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                                transform: translate(10px, -3%);
                                                                transition: all 0.5s;
                                                                       }
                                                                img{
                                                                 width: 100%;
                                                                 height: 210px;
                                                                       }
                                                               .contenido{
                                                                           padding: 15px;
                                                                           text-align: center;
                                                                
                                                                          p{
                                                                            font-size: x-large;
                                                                           line-height: 1.5;
                                                                           color: black;
                                                                           }
                                                                         h3{
                                                                          font-size: x-large;
                                                                           font-weight: 400;
                                                                           margin-bottom: 15px;
                                                                           }
                                                                         }
                                                              
                                                                 }
                                                         }
                                }    
                  .pr_titulo{
                                  grid-area: titulo;
                                  text-align: center; 
                                  font-family: 'Times New Roman', Times, serif;
                                                  #produ{
                                                  color: black;
                                                        }
                                }
                  .pr_titulo2{
                                  grid-area: titulo2;
                                  text-align: center;
                                  font-family: 'Times New Roman', Times, serif;
                                                  #produ{
                                                  color: black;
                                                        }
                                }
                  .pr_titulo3{
                                  grid-area: titulo3;
                                  text-align: center;
                                  font-family: 'Times New Roman', Times, serif;
                                                   #produ{
                                                          color: black;
                                                         }
                                  }                   
    } 
 
  .nombre{
    color:black;
    font-size: x-large;
  }
  body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
  grid-template-rows: 130px 75px auto 1fr; 
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;	 
  background-image: url(../Imagenes/Roma.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
                              header{
                                     grid-area: header; 
                                    }
                              .tituloprincipal{
                                      color: blueviolet ;
                                      background: linear-gradient(70deg, pink,antiquewhite);
                                      padding: 35px 10px 10px 10px;
                                      margin: 5px 10px 5px 10px;
                                      border: solid black 2px;
                                      box-shadow: 5px 8px 10px blanchedalmond;
                                      border-radius: 10px;
                                      display: flex;
                                       }       
                              nav{
                                    grid-area: nav;
                                    }
                             main{
                                    grid-area: main;
                                    .novedades{
                                     
                                             text-align: center;
                                               font-size: xx-large;
                                        
                                          }
                                              
                                        .texto{
                                                font-size: 33px;
                                                background: linear-gradient(70deg, pink,antiquewhite);
                                                border: groove black 3px;
                                                  box-shadow: 5px 8px 10px blanchedalmond;
                                                  font-family: 'Times New Roman', Times, serif;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center; 
                                                  flex-wrap: wrap;
                                                  .Somos{
                                                    padding: 50px;
                                                  }                                       
                                                  .video{
                                                    width: auto;
                                                    height: 100%;
                                                  }
                                              } 
                                    .formulario{
                                                border: solid rgb(22, 21, 21) 2px;
                                                border-radius: 5px;
                                                background-color: aliceblue;
                                                box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                }
                                    .nov{
                                      
                                                display: flex;
                                                text-align: center;
                                    .Presentacion{
                                                border: groove black 1px;
                                                background: linear-gradient(70deg, pink,antiquewhite);
                                                a{
                                                  text-decoration: none;
                                                  color: black;
                                                }
                                               &:hover{                                                                                         
                                                  box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                 transform: scale(1.1,1.1);
                                                 transition: all 1s;
                                               }
                                                 .nov_img{
                                                  width: 100%; 
                                                  height: 100%;
                                              }  
                                            }         
                                    }        
                                 }
                             footer{
                                    grid-area: footer;
                                    border: solid black 2px;
                                    background: linear-gradient(70deg, rgb(53, 39, 182), rgb(124, 137, 255));
                                    border-radius: 14px;
                                    text-align: center;
                                    align-items: center;
                                    .face{
                                      width: 35px; 
                                      height: 35px;
                                      }
                                  .insta{
                                      width: 35px; 
                                      height: 35px;
                                      }
                                    .mapa{
                                      width: 100%;
                                      height: 100%;
                                    }
                                         .wsp{
                                              width: 50px; 
                                              height: 50px;
                                             }
                                         .px{font-size: x-large;}
                                    
                                  }
  }
 