@import "extends-and-mixins";
@import "colors-and-font";

.titulinho{
           text-align: center; 
          font-family: $TimeNewRoman;
                  #produ{
                    color: black;
                       }
}
.row{
  --bs-gutter-x: 0;
}
  .pr{ 
    display: grid;
    grid-template-areas:
    "titulo titulo titulo" 
    "medias medias medias"
    "titulo2 titulo2 titulo2"
    "boxer boxer boxer"
    "titulo3 titulo3 titulo3"
    "conjuntos conjuntos conjuntos"
    ;
     grid-template-rows:50px auto 50px auto 50px auto; 
     grid-template-columns: auto auto auto;
     row-gap: 10px;
     column-gap: 10px;
     height: 100%;
     margin: 0;
                      .pr_medias{
                                 grid-area: medias;
                                 background: $Gradiente_Pagina;
                                 @include box-and-border;
                                              .Centrado{
                                                display: flex;
                                                justify-content: center;
                                                }
                                         .Articulos{
                                                  @include articulos-productos;                                            
                                                    }
      
                                }
                      .pr_boxer{
                                  grid-area: boxer;
                                  background: $Gradiente_Pagina;
                                  @include box-and-border;
                                  .Centrado{
                                    display: flex;
                                    justify-content: center;
                                    }
                                                .Articulos{
                                                  @include articulos-productos;
                                                    }
                                }
                  .pr_conjuntos{
                                  grid-area: conjuntos;
                                  background: $Gradiente_Pagina;
                                  .Centrado{
                                    display: flex;
                                    justify-content: center;
                                    }
                                  @include box-and-border;
                                                .Articulos{
                                                  @include articulos-productos;
                                                         }
                                }
            //Esto seria la parte de mobile//                   
                                .boxer_Mobile{
                                  background: $Gradiente_Pagina;
                                  grid-area: boxer;
                                 } 
                                 .conjunto_Mobile{
                                  background: $Gradiente_Pagina;
                                  grid-area: conjuntos;
                                 } 
                                 .medias_Mobile{
                                  background: $Gradiente_Pagina;
                                  grid-area: medias;
                                 } 
                                 @media (min-width: 768px) {
                                  .boxer_Mobile{
                                        display: none;
                                               }
                                  .conjunto_Mobile{
                                    display: none;
                                  }
                                  .medias_Mobile{
                                    display: none;
                                  }
                                                  }
                         @media (max-width: 768px) {
                                  .pr_boxer{
                                    display: none;
                                          }
                                  .pr_conjuntos{
                                    display: none;
                                  }
                                  .pr_medias{
                                    display: none;
                                  }
                                  .boxer_Mobile{
                                        .Articulos{
                                            display: flex;
                                            justify-content: center;
                                                 }
                                                  .carta{
                                                  width: 55%;
                                                        }
                                               }
                                  .conjunto_Mobile{
                                        .Articulos{
                                            display: flex;
                                            justify-content: center;
                                                  }
                                                  .carta{
                                                  width: 55%;
                                                       }
                                               }
                                  .medias_Mobile{
                                        .Articulos{
                                            display: flex;
                                            justify-content: center;
                                                  }
                                                  .carta{
                                                  width: 55%;
                                                        }
                                                 }      
                                                  }  
                  .pr_titulo{
                                  grid-area: titulo;
                                  @extend .titulinho;
                                }
                  .pr_titulo2{
                                  grid-area: titulo2;
                                  @extend .titulinho;
                                }
                  .pr_titulo3{
                                  grid-area: titulo3;
                                  @extend .titulinho;
                                  } 
 
                                                    
    } 
 
  .nombre{
    color:black;
    font-size: x-large;
  }
  body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
  grid-template-rows: auto auto auto auto; 
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
  margin: 0;	 
  background-image: url(../Imagenes/Roma.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
                              header{
                                     grid-area: header; 
                                    }
                             
                              nav{
                                    grid-area: nav;
                                    }
                             main{
                                    grid-area: main;
                                    .novedades{
                                     
                                             text-align: center;
                                               font-size: xx-large;
                                        
                                          }
                                          .xd{
                                            max-width: 700px;
                                            max-height: 500px;
                                            height: 100%;
                                            width: 100%;
                                          }
                                              
                                        .texto{
                                                font-size: 25px;
                                                background: $Gradiente_main;
                                                border: groove black 3px;
                                                  box-shadow: 5px 8px 10px blanchedalmond;
                                                  font-family: 'Times New Roman', Times, serif;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center; 
                                                  flex-wrap: wrap;                                                                                 
                                              } 
                                    .formulario{
                                                border: solid rgb(22, 21, 21) 2px;
                                                border-radius: 5px;
                                                background-color: aliceblue;
                                                box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                }
                                    .nov{
                                      
                                                display: flex;
                                                text-align: center;
                                    .Presentacion{
                                                border: groove black 1px;
                                                background: $Gradiente_main;
                                                a{
                                                  text-decoration: none;
                                                  color: black;
                                                }
                                               &:hover{                                                                                         
                                                  box-shadow: 5px 5px 50px rgb(14, 13, 13);
                                                 transform: scale(1.1,1.1);
                                                 transition: all 1s;
                                               }
                                                 .nov_img{
                                                  width: 100%; 
                                                  height: 100%;
                                              }  
                                            }         
                                    }        
                                 }
                             footer{
                                    grid-area: footer;
                                    border: solid black 2px;
                                    background: $gradiente_Footer;
                                    text-align: center;
                                    align-items: center;
                                    .face{
                                      width: 35px; 
                                      height: 35px;
                                      }
                                  .insta{
                                      width: 35px; 
                                      height: 35px;
                                      }
                                    .mapa{
                                      width: 100%;
                                      height: 100%;
                                    }
                                         .wsp{
                                              width: 50px; 
                                              height: 50px;
                                             }
                                         .px{font-size: x-large;}
                                    
                                  }
  }
 